* {
	box-sizing: border-box;
	outline: none;
}


body {
	margin:0;
	padding: 0;
}


/*  Début Style header */

header {
	background-color: #fcfcfc;
	padding-top: 1px; /* annuler fusion des marges */ 
	padding-bottom: 1px; /* annuler fusion des marges */
} 


header img {
	display: block;
	margin: 20px auto;
}


header nav ul {
	text-align: center;
	padding-left: 0px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

header nav ul li {
	list-style: none;
	margin-bottom: 15px;
}

header nav ul li a {
	text-decoration:none;
	text-transform: capitalize;
	font-family: 'Candal', sans-serif;
	color: #1f455a;

}

header nav ul li i {
	color: #fb8a9b;
}


/*  Fin Style header */



/* début style main */

main {
	background-color: #fcfcfc;
}

	


/* fin style main */ 

/* début style banner */


.banner {
	text-align:center;
	background-image: url(img/background.jpg);
	background-size: cover;
	background-position: center, center;
	height:500px;
	padding-top: 1px; /* annuler fusion des marges */

}

.banner h1 {

	font-family: 'Candal', sans-serif;
	font-size: 3em;
	margin-top: 100px;
	margin-bottom: 50px;


}

.banner p {

		font-family: 'Candal', sans-serif;
		font-size: 2em;
		width:80%;
		margin:0 auto;
		line-height: 2em;

}

.banner h1, .banner p {
	color:white;
}



/* fin style banner */


/* Début style section recherche */

.recherche {
	background-color: #fb8b9b;
	padding-top: 1px; /* annuler fusion des marges */ 
	padding-bottom:1px; /* annuler la fusion des marges */  
}

.recherche h2 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	color:#f6c3cc;
	padding-left: 6%;
	letter-spacing: 7px;

}


/* Fin style section recherche */


/* début style section solutions */

.solutions {
	padding-top: 1px; /* annuler fusion des marges */
	text-align: center;
}

.solutions h2 {

	font-family: 'Candal', sans-serif;
	font-size: 1.8em;
	width:84%;
	margin: 20px auto ;
	padding-top: 40px;
	padding-bottom: 40px;
	border: dashed 1px black;
	border-bottom: none;





}


 .container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	text-align: center;
	width:84%;
	margin:0 auto;
}

.container article {
	margin-bottom: 30px;
}

.container article i {
	color: #fb8b9b;
}

.container article h3 {
		font-family: 'Candal', sans-serif;
		font-size: 1.2em;
		color: #fb8a9b;
}

.container article p {
		font-family: 'Open Sans', sans-serif;
		text-align: left;

}
/* Fin style section solutions */


/* Début section style d'hébergemment */



.hosting_style {
	text-align: center;
}

.hosting_style h2 {

	font-family: 'Candal', sans-serif;
	font-size: 1.8em;
	width:84%;
	margin: 20px auto ;
	padding-top: 40px;
	padding-bottom: 40px;
	border: dashed 1px black;
	border-bottom: none;
	color: #fb8a9b;
}


.hosting_style .container article h3 {
		color: #fb8a9b;
}


.hosting_style .container div {
		font-family: 'Open Sans', sans-serif;
		color: #fb8a9b;
		font-weight: bold;



}


/* Fin section style d'hébergement */


/* Début section footer  */


footer {
	background-color: #213e4e;
	padding-bottom:20px; ;
	padding-top:20px;
}

footer ul {
	padding-left: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

footer ul li {
	list-style: none;
	margin-bottom: 25px;
}

footer ul li a {

	color:white;
	text-transform: capitalize;
	text-decoration: none;
	font-family: 'Candal', sans-serif;

}

/* Fin section footer  */


/* Début style page mutualise.html */

.mutualise  {
	padding-top: 75px;
	text-align: center;

}

.mutualise h2 {
	font-family: 'Candal', sans-serif;
	font-size: 2em;
	color: #1f455a;
	border:dashed 1px black;
	width:84%;
	margin:0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: none;

}

.mutualise p {

	width: 84%;
	margin:60px auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;

}

.mutualise .conteneur {

display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: stretch;
align-content: stretch;
width:84%;
margin: 0 auto;
	

}

.mutualise .conteneur article {

	border:dashed 1px black;
	text-align: center;
	margin-bottom: 50px;

}

.mutualise .conteneur article h3:first-of-type {
	background-color: #213e4e;
	color:white;
	text-transform: capitalize; 
	font-family: 'Candal', sans-serif;
	font-size: 1.2em; 
	padding-top: 35px;
	padding-bottom : 35px;
	width:90%;
	margin: 30px auto;
	letter-spacing: 3px;	


}


.mutualise .conteneur article ul {
	padding-left: 0;
}

.mutualise .conteneur article ul li {
	list-style: circle;
	width:50%;
	margin:0  auto ; 
	padding-left: 0;
	padding-right: 0;
	font-family: 'Open Sans', sans-serif;

}

.mutualise .conteneur article div {

		font-family: 'Candal', sans-serif;
		font-family: 1.2em;
		color: #67695e;
		margin-bottom: 20px;


}


.mutualise .conteneur article a {

	text-decoration: none;
	text-transform: capitalize;
	font-family: 'Candal', sans-serif;
	font-family: 1.2em;
	display: block;
	margin:0 10px;
	background-color: #fb8b9b;
	color: white;
	width:90%;
	margin: 0 auto;
	padding:20px;
	margin-bottom: 10px; 


}


/* Fin style page mutualise.html */


/* style page home en vue desktop  */

@media screen and (min-width: 1025px) {

/* Début style menu desktop */

	header {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	header img {
		display:inline;
		margin: -10px 0;


	}

	header nav {
		width:80%;
		display: inline-block;
		vertical-align: top;
		margin-left:50px;
		
	}

	header nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	padding-left: 0px;
	}





/* Fin style menu desktop */


 /* début style article mutualise en desktop */


.mutualise .conteneur {

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;	
	margin-bottom: 40px;

}

.mutualise .conteneur article {
	margin:1%;
}



/* début style article mutualise en desktop */


footer ul {

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

/*  Début style footer desktop */


/* Fin style footer desktop */


} 

/*  Fin style page home en vue desktop  */